<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three.js Viewer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="importmap">
        {
          "imports": {
            "three": "https://unpkg.com/three@0.161.0/build/three.module.js"
          }
        }
    </script>
</head>
<body> 

    <!-- Button element -->
    <div id="sessionDisplay"></div>
    <div class="button-container">
        <button id="screenshotButton">Take Screenshot</button>

        <div style="display: block;">
          <form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm">
            <input type="file" name="file" id="file">
            <button id="fileUpload" style="margin-left: 5px;" type="submit">Upload video.mp4</button>
          </form>
        </div>
        
        <button id="runModel" style="margin-left: 5px;">Run Model</button>
        <button id="playAnimation" style="margin-left: 5px;">Play Animation</button>
        
        <input id="inputText" type="text" placeholder="Enter some text here" style="visibility: hidden;">
    <div id="printButton">&nbsp;</div>

    <script type="module" src="{{ url_for('static', filename='js/index_infer.js') }}"></script>

    </div>
</body>
</html>
